@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 300px;
  background-image: linear-gradient(
    45deg,
    rgb(255, 255, 255) 0%,
    rgb(241 245 249) 50%,
    rgb(195, 207, 226) 100%
  );
  font-size: 14px;
}
